<div class="main-title">
  <h1>New sample application</h1>
  <p>This is an introduction to the application and the content contained within.</p>
</div>
<div class="with-sidebar">
  <div class="sidebar-wrapper">
    <div class="sidebar">
      <div class="nav-bar">
        <ul>
          <li><a href='.'>First</a></li>
          <li><a href='.'>Second</a></li>
          <li><a href='.'>Third</a></li>
          <li><a href='.'>Fourth</a></li>
          <li><a href='.'>Fifth</a></li>
          <li><a href='.'>Sixth</a></li>
        </ul>
      </div>    
    </div>
    <div class="not-sidebar">
        <div class="content">
          <div class="flex-item">
            <app-tile heading="Sir Cadogan" content="Toad-like smile Flourish and Blotts he knew I’d come back Quidditch World Cup. Fat Lady baubles banana fritters fairy lights Petrificus Totalus. So thirsty, deluminator firs’ years follow me 12 inches of parchment. Head Boy start-of-term banquet Cleansweep Seven roaring lion hat."></app-tile>
          </div>
          <div class="flex-item">
            <app-tile heading="Viktor Krum" content="Half-giant jinxes peg-leg gillywater broken glasses large black dog Great Hall. Nearly-Headless Nick now string them together, and answer me this, which creature would you be unwilling to kiss? Poltergeist sticking charm, troll umbrella stand flying cars golden locket Lily Potter."></app-tile>
          </div>
          <div class="flex-item">
            <app-tile heading="Stan Shunpike" content="Squashy armchairs dirt on your nose brass scales crush the Sopophorous bean with flat side of silver dagger, releases juice better than cutting. Full moon Whomping Willow three turns should do it lemon drops. Locomotor trunks owl treats that will be 50 points, Mr. Potter. Witch Weekly, he will rise again and he will come for us, headmaster Erumpent horn."></app-tile>
          </div>
          <div class="flex-item">
            <app-tile heading="Alohomora" content="Thestral dirigible plums, Viktor Krum hexed memory charm Animagus Invisibility Cloak three-headed Dog. Half-Blood Prince Invisibility Cloak cauldron cakes, hiya Harry! Basilisk venom Umbridge swiveling blue eye Levicorpus, nitwit blubber oddment tweak. Chasers Winky quills The Boy Who Lived bat spleens cupboard under the stairs flying motorcycle."></app-tile>
          </div>
          <div class="flex-item">
            <app-tile heading="Pumpkin juice" content="Prefect’s bathroom Trelawney veela squashy armchairs, SPEW: Gamp’s Elemental Law of Transfiguration. Magic Nagini bezoar, Hippogriffs Headless Hunt giant squid petrified. Beuxbatons flying half-blood revision schedule, Great Hall aurors Minerva McGonagall Polyjuice Potion."></app-tile>
          </div>
          <div class="flex-item">
            <app-tile heading="Invisibility cloak" content="Red hair crookshanks bludger Marauder’s Map Prongs sunshine daisies butter mellow Ludo Bagman. Beaters gobbledegook N.E.W.T., Honeydukes eriseD inferi Wormtail. Mistletoe dungeons Parseltongue Eeylops Owl Emporium expecto patronum floo powder duel. Gillyweed portkey, keeper Godric’s Hollow telescope, splinched fire-whisky silver Leprechaun O.W.L. stroke the spine."></app-tile>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="footer">
  © 2020 DR Enterprises Unlimited. All rights reserved. Some lefts may still be available. 
</div>
