$primary-color: #6bbaa7;
$secondary-color: #fba100;
$tertiary-color: #6c648b;

$highlight-color: #fba100;

$background-color: white;
$secondary-background-color: #b6a19e;

$text-color: black;
$secondary-text-color: white;

$button-background-color: $secondary-background-color;
$button-text-color: white;
$button-border-color: $secondary-background-color;

$button-hover-color: $highlight-color;
$button-hover-text-color: $highlight-color;